<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN3GBQvtepgpHtbEHwsj3SR70Jc7ngpFI</string>
	<key>GCM_SENDER_ID</key>
	<string>224103216267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DVDKaptol.Inventura</string>
	<key>PROJECT_ID</key>
	<string>inventura-dvd-kaptol</string>
	<key>STORAGE_BUCKET</key>
	<string>inventura-dvd-kaptol.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224103216267:ios:8b378e9bf9df21ebde108e</string>
	<key>DATABASE_URL</key>
	<string>https://inventura-dvd-kaptol-default-rtdb.firebaseio.com</string>
</dict>
</plist>